/*顶部按钮*/
.btn-content{
  position: relative;
}
.btns{
  margin:10px -15px 0px -15px;
  height:60px;
  line-height:60px;
  padding-left: 10px;
  border-bottom:1px solid rgba(0,0,0,0.2);
}
#back-btn{
  width:30px;
  height:25px;
  -webkit-background-size:30px 30px;
  background-size:30px 30px;
  background-repeat:no-repeat;
  background-image: url(../img/back.png);
  border:none !important;
  position: absolute;
  right:50px;
  top:18px;
}
#clearlasttoast{
  padding:1px;
  width:25px;
  height:25px;
  -webkit-background-size:21px 21px;
  background-size:21px 21px;
  background-repeat:no-repeat;
  border:none !important;
  margin-left:10px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  position: absolute;
  right:20px;
  top:20px;
}
.list{
  background-image: url(../img/list.png);
}
.thum{
  background-image: url(../img/thumbnail.png);
}

/*文件路径*/
.path{
  display:inline-block;
  height:100%;
  width:800px;
  margin-left:20px;
}
.path ul{
  height:100%;
  float:left;
  padding:0;
}
.path ul li{
  list-style: none;
  float:left;
}
.split{
    color:gray;
}
.path-item{
  font-weight:500;
  cursor:pointer;
}
.path-item:hover{
  color:blue;
}

/*主体内容*/
.wrapper-content{
  min-height:704px;
  position:relative;
  -webkit-transition: 1000ms;
  -moz-transition: 1000ms;
  -ms-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
}

/*缩略图展示块*/
.ibox-div-folder{
  width:100%;
  overflow: hidden;
}
.ibox-div-map{
  z-index: -200;
  width:100%;
  overflow: hidden;
}
.ibox{
  width:190px;
  height:200px;
  float:left;
  margin-left:15px;
  margin-right:15px;
  clear:none;
  position:relative;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  z-index: 200;
}
.ibox-folder{
  height:40px;
  background: white;
  cursor:pointer;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  z-index: 200;
}
.folder-body{
  width:100%;
  height:100%;
}
.folder-body:hover+.op{
  display: block;
}

/*操作按钮*/
.op{
  position: absolute;
  right:-10px;
  top:7px;
  width:24px;
  height:24px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  text-align: center;
  display: none;
}
.op:hover{
  display: block;
}
.op-icon{
  width:50%;
  height:50%;
}

/*文件夹操作列表*/
.op-list{
  width:100px;
  position: absolute;
  top:80px;
  left:180px;
  z-index: 1000;
  padding:0;
  background: white;
  display:none;
  -webkit-box-shadow: 0 1px 6px #ccc;;
  -moz-box-shadow: 0 1px 6px #ccc;;
  box-shadow: 0 1px 6px #ccc;;
}
.op-list:before {
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom: 8px solid #ccc;
  content: "";
  width: 0;
  height: 0;
}.op-list:after {
   position: absolute;
   left: 50%;
   margin-left: -8px;
   top: -15px;
   border: 8px solid transparent;
   border-bottom: 8px solid #fff;
   content: "";
   width: 0;
   height: 0;
 }
.op-list li{
  list-style:none;
  width:100%;
  overflow: hidden;
  height:30px;
  margin-top:5px;
  margin-bottom:5px;
}
.op-list li:hover{
  background: rgba(0,0,0,0.1);
}
.op-list img{
  width:20px;
  height:20px;
  margin:3px 10px 5px 10px;
}
.op-list label{
  display: inline-block;
  line-height:30px;
}
.op-list:hover .op{
  display: block;
}

/*缩略图图片*/
.img-box-map{
  background:#ffffff;
  cursor:pointer;
  width:100%;
  height:90%;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-transition: 500ms;
  -moz-transition:  500ms;
  -ms-transition:  500ms;
  -o-transition:  500ms;
  transition:  500ms;
}
.img-box-folder{
  cursor:pointer;
  margin-left:10px;
  width:40px;
  height:100%;
  float:left;
}
.img-box-map:hover{
  margin-top:-8px;
}
.map-img{
  width:100%;
  height:100%;
}
.folder-img{
  width:100%;
  height:100%;
}

/*地图或文件夹名字*/
.icon{
  width:20px;
  height:20px;
  margin-top:2px;
  float:left;
}
.name{
  display: inline-block;
  height:20px;
  line-height:20px;
  margin-left:5px;
  float:left;
}
.name-folder{
  line-height:40px;
  cursor:pointer;
}

/*删除按钮*/
.delete{
  width:15px;
  height:17px;
  position: absolute;
  right:15px;
  bottom:1px;
  cursor:pointer;
  background-image: url(../img/delete-icon.png);
  -webkit-background-size:15px;
  background-size:15px;
  background-repeat: no-repeat;
  -webkit-transition: 500ms;
  -moz-transition:  500ms;
  -ms-transition:  500ms;
  -o-transition:  500ms;
  transition:  500ms;
}
.img-box-map:hover+.delete{
  bottom:9px;
}
.delete:hover{
  //bottom:4px;
  background-image: url(../img/delete-icon-red.png);
}

/*列表模式*/
#listTable{
  width:94%;
  margin-left:3%;
  margin-top:-10px;
}
.thead{
  font-size:14px;
  font-weight:700;
  height:50px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.tList{
  height:40px;
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.renameList{
  background-image: url(../img/rename.png);
  -webkit-background-size:20px;
  background-size:20px;
  background-repeat: no-repeat;
  -webkit-transition: 500ms;
  -ms-transition:  500ms;
  -o-transition:  500ms;
  transition:  500ms;
  height:20px;
  width:20px;
  cursor: pointer;
}
.renameList:hover{
  margin-top:-10px;
}
.deleteList{
  background-image: url(../img/delete.png);
  -webkit-background-size:12px;
  background-size:12px;
  background-repeat: no-repeat;
  -webkit-transition:margin 500ms;
  -moz-transition:margin  500ms;
  -ms-transition:margin  500ms;
  -o-transition:margin  500ms;
  transition:margin  500ms;
  height:12px;
  width:12px;
  cursor: pointer;
}
.deleteList:hover{
  background-image: url(../img/deleteRed.png);
  margin-top:-5px;
}
.listName{
  cursor:pointer;
  width:300px;
}
.listName:hover{
  color:black;
}
/*拖拽展示块*/
#dragDiv{
  color:white;
  background: rgba(0,0,0,0.5);
  border:1px dotted white;
  position: absolute;
  z-index: 100000;
}
#dragDiv label{
  padding:1px 5px 0 5px;
  max-width:100px;
  overflow: hidden;
  display: inline-block;
}
